{% extends 'base.html' %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        Url: <input type="text" name="name" placeholder="eg: https://www.example.com">
        <button type="submit">get short url</button>
    </form>
    
    <br>
    
    Website title: {{title}} <br>
    Original long url: {{originalurl}} <br>
    Generated short url: {{tinyurl}} or <a href={{tinyurl}}>click here to redirect</a> <br> 
    Short url usage analytics: {{analytics}} or <a href={{analytics}}>click here to redirect</a>

{% endblock %}
